In [1]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import os

stu_data = pd.read_csv('combined_csv.csv')
stu_data.head(20)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group B,some college,free/reduced,completed,65,62,61
1,male,group D,bachelor's degree,standard,none,61,59,54
2,male,group A,some high school,standard,none,57,50,50
3,male,group C,bachelor's degree,free/reduced,none,63,64,56
4,female,group B,associate's degree,free/reduced,completed,57,87,82
5,female,group E,associate's degree,standard,completed,100,100,100
6,female,group A,high school,standard,completed,84,86,91
7,female,group C,associate's degree,free/reduced,none,37,63,54
8,male,group C,some college,standard,none,68,63,64
9,male,group D,high school,standard,completed,90,88,88
10,male,group B,associate's degree,free/reduced,completed,79,69,76
11,male,group C,associate's degree,free/reduced,none,73,83,77
12,female,group C,some high school,standard,completed,65,79,75
13,male,group A,master's degree,standard,completed,93,91,95
14,female,group D,some college,standard,none,77,95,89
15,male,group E,some college,free/reduced,completed,77,72,72
16,female,group C,some high school,free/reduced,none,48,64,56
17,female,group D,some high school,standard,none,85,81,86
18,male,group B,some high school,standard,none,63,67,64
19,female,group E,some college,standard,none,75,70,69

In [ ]:
stu_data = stu_data.drop(columns=['race/ethnicity'])